<ul class="nav nav-pills">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('logout') }}">Logout</a>
        </li>
        <li>
            <a class="nav-link" href="{{ path('list_auction') }}">Ver lista de subastas</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url('login') }}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url('register_user') }}">Registrarse</a>
        </li>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        <li>
            <a class="nav-link" href="{{ path('my_bids') }}">Mis pujas</a>
        </li>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url('create_auction') }}">Crear Subasta</a>
        </li>
    {% endif %}
</ul>